<div id="main-content" class="col-sm-9">
    <div class="row">
    <h1>Doctors:</h1>
  <%= render @doctors %>
    </div>
    <div class="row">
    <h1>Admin:</h1>
  <%= render @admins %>
    </div>
</div><!-- main-content -->