<li id="home">
  <%= link_to root_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> View my Patients
  <% end %>
</li>
<li id="home">
  <%= link_to patients_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> View all Patients
  <% end %>
</li>