<h1>Listing Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.comment %></td>
        
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Destroy All', remove_all_notifications_path, method: :get %>
