<div class="col-sm-9 single-post-card" id="article">
  <div class="card">
    <div class="card-block">
      <h4 class="post-text">
        <%= news[:title] %>
      </h4>
      <div class="post-content">
        <div class="date">
          <%= news[:date] %>
        </div>
        <div class="description">
          <%= news[:description] %>
          </div>
          <%= link_to "Go to full article", news[:link] , class: 'view_info' %>
        </div>
      </div>
  </div><!-- card -->
</div><!-- col-sm-3 -->