<%= render 'news/modal' %>
<div class="container">
    <div class="row">
  <%= render 'news/side_menu/side_menu' %>
  <div id="main-content" class="col-sm-9">
  <h1>Medical news from around the world:</h1>
  <%= render partial: 'news', collection: @newsrelease[0..9] %>
  </div>
  </div><!-- row -->
</div><!-- container -->