<div class="container new-patient">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Edit Patient Details</h1>
        <%= render 'patients/new/patient_form' %>
    </div>
  </div>
</div>