<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Doctor: <%= @patient.user.name %></div>
      <h3><%= @patient.name %></h3>
      <p><%= @patient.date_of_birth %></p>
       <p><%= @patient.address %></p>
    </div>
  </div><!-- row -->
</div>