<%= render 'patientnotes/modal' %>
<div class="container">
  <div class="row">
  <%= render 'patients/show/side_menu' %>
  <%= render 'patients/show/main_content' %>
  </div><!-- row -->
</div><!-- container -->