          <div class="loaded-data">
              <div class="title">
            </div>
            <div class="content">
            </div>
            <div class="row">
            <div class="edit_button col-sm-6"><a href="">Edit Patient Note</a></div>
            <div class="delete_button col-sm-6"><a data-confirm="Are you sure?" data-method="delete" href="/link-to-resource" rel="nofollow">Delete Patient Note</a></div>
            </div>
          </div><!-- loaded-data -->