<div class="col-sm-3 single-post-card" id=<%= patientnote_path(patientnote.id) %>>
  <div class="card">
    <div class="card-block">
      <h4 class="post-text">
        <%= patientnote.date %>
      </h4>
      <div class="post-content">
        <div class="title">
         <%= patientnote.title%>
        </div>
        <div class="content">
         <%= patientnote.content%>
        </div>
        </div>
      </div>
  </div><!-- card -->
</div><!-- col-sm-3 -->