<div class="container new-patientnote">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Add a new Patient Note:</h1>
        <%= render 'patientnotes/new/patientnote_form' %>
    </div>
  </div>
</div>